{% load static %}

<!DOCTYPE html>

<html>


    <head>

        <meta charset="utf-8"/>

        <meta name="viewport" content="width=device-width, initial-scale=1">


        <!-- CSS -->
        
        <link rel="stylesheet" href="https://bootswatch.com/5/flatly/bootstrap.min.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



        <!-- JavaScript -->

        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>



        <!-- JavaScript Bundle with Popper -->

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
	

	 <!-- Bootstrap Max CDN --> 

	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>



    </head>

    <title> Edenthought </title>


    <nav class="navbar navbar-expand-lg bg-primary justify-content-center">


        <a class="navbar-brand main-heading text-white" href="{% url 'store' %}"> 
                
        &nbsp; &nbsp; Edenthought 
        
        </a>


        <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>

    </button>

    
        <div class="collapse navbar-collapse" id="navbarCollapse">
                
            <ul class="navbar-nav me-auto mb-2 mb-md-0">

                <li class="nav-item dropdown">
                    
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    
                        Categories
                    
                    </a>
                    
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <li>
                            
                            <a class="dropdown-item" href="{% url 'store' %}"> All </a>
                        
                        </li>
                    
                        {% for category in all_categories %}
                        <li>

                                <a class="dropdown-item" href="{{ category.get_absolute_url }}"> {{ category.name | capfirst }} </a>
                        </li>
                        {% endfor %}
                    
                    </ul>

                </li>

            </ul>

        </div>


        <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">
            
            <ul class="navbar-nav ms-auto">


                <li class="nav-item">
            
                    <a class="btn btn-alert navbar-btn text-white" type="button"  href="/"> Register </a>

                </li>


                <li class="nav-item">

                    <a class="btn btn-alert navbar-btn text-white" type="button"  href="/"> Login </a>

                </li>


                &nbsp; &nbsp; &nbsp;


                <li class="nav-item">

                    <a type="button" role="button" href="{% url 'cart-summary' %}" class="btn btn-outline-secondary">
                    


                        <i class="fa fa-shopping-cart" aria-hidden="true"> </i>


                    </a>

                </li>

                &nbsp; &nbsp; &nbsp;
        

            </ul>

        
        </div>


    </nav>


    <body>


        {% block content %} 
        
        





            
        {% endblock %}
    
        


    </body>


</html>





















