{% extends "./base.html" %}

{% load static %}


{% block content %}


<main>
  
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="pb-3 h5">{{ category.name | capfirst }}</div>


      <hr>

      <br>


      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">


        {% for product in products %}
        <div class="col">
          <div class="card shadow-sm">
<!--          <img class="img-fluid" alt="Responsive image" src="{{ product.image.url }}" href="{{ product.get_absolute_url }}">-->

<!--            this line i added for experiment-->

            <a href="{{ product.get_absolute_url }}">
                <img class="img-fluid" alt="Responsive image" src="{{ product.image.url }}">
            </a>

            <div class="card-body">
              <p class="card-text">
                <a class="text-info text-decoration-none" href="{{ product.get_absolute_url }}"> {{ product.title }} </a>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <h5> &#x20B9; {{ product.price }} </h5>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}


      </div>
    </div>
  </div>


</main>

{% endblock %}