{% extends './base.html'%}

{% load static %}

{% block content %}

<!-- Introduction section -->

    <section class="py-4 text-center container">

        <div class="row py-lg-5">

            <div class="col-lg-6 col-md-8 mx-auto">


                <h4> Edenthought...Simplicity at it's finest. </h4>


                <br>


                <p class="lead text-muted">

                Browse our extensive collection.

                </p>


                <br>

                <a href="#" class="btn btn-primary my-2"> Create an account </a>


            </div>

        </div>


    </section>
   <!-- All products section -->

       <div class="album py-5 bg-light">

        <div class="container">

          <div class="pb-3 h5"> All products </div>


          <hr>

          <br>


          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">


            {% for product in my_products %}


              <div class="col">

                <div class="card shadow-sm">

                  <img class="img-fluid" alt="Responsive image" src="{{product.image.url}}">

                  <div class="card-body">

                    <p class="card-text">

                      <a class="text-info text-decoration-none" href="{{ product.get_absolute_url }}"> {{ product.title | capfirst }} </a>

                    </p>

                    <div class="d-flex justify-content-between align-items-center">

                      <h5> &#x20B9;  {{ product.price }} </h5>

                    </div>

                  </div>

                </div>

              </div>


            {% endfor %}

          </div>
        </div>
      </div>

{% endblock %}